.card{
	border: solid 1.5px #d3d3d3;
	border-radius: 8px;
	padding: 28px;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 10px;
}

.profile-pic {
	max-width: 60%;
}

.navbar-inner {
    background-color:transparent;
}

.background-img {
	background-image: url("../img/lions.jpg");
	
}

.card1{
	border: transparent; 1.5px #d3d3d3;
	border-radius: 8px;
	padding: 28px;
	margin-top: : 40px;
}